body {
  background-color: #FFF;
  color: #000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 900;
}

a:link { color: #fff} /*unvisited*/
a:hover { color: #000} /*mouse over*/
a:active { text-decoration: underline;} /*selected*/

figcaption {
  font-size: .8em;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.author {
  font-size: 1em;
  font-style: italic;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.story-text {
  line-height: 1.3;
}
